<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZtLv71e1UezjeombTzvJOHTg_O-lA7jI</string>
	<key>GCM_SENDER_ID</key>
	<string>622117685399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fast.free.unblock.safer.vpn</string>
	<key>PROJECT_ID</key>
	<string>safer-vpn-2d892</string>
	<key>STORAGE_BUCKET</key>
	<string>safer-vpn-2d892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622117685399:ios:f7a63ed7c4c6f8e0ce41d2</string>
</dict>
</plist>